.App {
  display: flex;
  /*uses 100% viewport as min height*/
  min-height: 100vh; 
  align-items: center;
  justify-content: left;  
  background: linear-gradient(110.6deg, rgb(156, 116, 129) -18.3%, rgb(67, 54, 74) 16.4%, rgb(47, 48, 67) 68.2%, rgb(27, 23, 36) 99.1%);
}


.div-login-container,.login-form{
    display: flex;
    flex-direction: column;
    
}
label{
  color:white;
  display: flex;
  text-align: left;
  padding: .5rem 0;
}

input{
  margin: .5rem 0;
  border-radius: 8px;
  padding: 0.5rem;
  border:none;
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  font-family:'Courier New', Courier, monospace;
  border: none; 
  margin-left: 20px;
  
  background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.users-container{
  float: left;
  
}
.create-user-container{
  float:right;
  margin-left: 300px;
}
#button-createuser{
  margin-top: 30px;
}